body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.container {
  position: relative;
  height: 100vh;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container p {
  text-align: center;
  font-size: 10vw;
  color: #1f1e2e;
  position: static;
  transform: none;
}
