/*Style Template*/

/*Universlar Styles*/

html {
    background-color: white;
}

h2 {
    color: black;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold
}

div.Container {
    margin-left: 2cm;
    margin-right: 2cm;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
}

div.color1 {
    margin-top: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    border: 1px solid;
    border-radius: 10px;
    background-color: #00FFFF;
}

div.color2 {
    margin-top: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    border: 1px solid;
    border-radius: 10px;
    background-color: #FF00FF;
}

div.color3 {
    margin-top: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    border: 1px solid;
    border-radius: 10px;
    background-color: #FFFF00;
}

div.color4 {
    margin-top: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    border: 1px solid;
    border-radius: 10px;
    background-color: #00FF00;
}

div.color5 {
        margin-top: 1cm;
        margin-bottom: 1cm;
        margin-left: 2cm;
        margin-right: 2cm;
        border: 1px solid;
        border-radius: 10px;
        background-color: #FF0000;
    }
.font-label {
    font-size: 20px;
    text-decoration: underline;
    }

.font-panel {
    width: 45%;
    display: inline-block;
    }
      

.nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
    }
    
.source-code-pro {
    font-family: 'Source Code Pro', monospace;
    }
    
.poppins {
    font-family: 'Poppins', sans-serif;
    }

.text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Nunito Sans', sans-serif;
    }
    
.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    }
    
.text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    }
