/* Universal Styles */

body {
  background-color: rgb(35, 41, 89);
}

.image-container {
  font-size: 1em;
}

.image-container img {
  font-size: 1em;
}

/* Banner Section */

#banner {
  background-image: url("camel-background.png");
  background-position: center;

  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h1 {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
}

/* Blog Post */

#blog {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blog .post {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  line-height: 1.8;
  color: #444444;
}

.post h2 {
  font-size: 1.75em;
}

.post h3 {
  color: #999999;
  font-size: 1.25em;
}

.post .opening-line {
  margin-top: 4.1875rem;
  margin-bottom: 1.5rem;
  color: black;
  font-weight: bold;
}

.post .image-container {
  font-size: 1em;
}

/* Blog Images */

.images {
  font-size: 1em;
}

.images .image-container {
  display: inline-block;
}

/* Footer */

footer {
  padding: 4rem 0;
  border-top: 1px solid #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
  color: #999999;
  text-align: center;
}
