/*Style Template*/

/*Universlar Styles*/

html {
    background-color: white;
}

h2 {
    color: black;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold
}

div.colorBoxdiv {
    display: block;
    margin-left: 2cm;
    margin-right: 2cm;
    border: 5px;
    border-color: black;
    border-radius: 10px;
    box-sizing: content-box;
}

div.color1 {
    display: block;
    margin-left: 2cm;
    margin-right: 2cm;
    border: 5px;
    border-color:#00FFFF ;
    border-radius: 10px;
    box-sizing: content-box;
}